.region-kassel-land {

    // basic
    .d-inline-grid{
        display: inline-grid;
    }
    img{
        &.full-width{
            width: 100%;
            height: auto;
        }
    }
    .up-cell-gap-type-1{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .flex-grid-v-center{
        align-items: center;
    }
    .flex-grid-v-bottom{
        align-items: end;
    }
    .default-row{
       row-gap: $grid-gutter-width / 2;

       &.default-plus-row{

            @media screen and (min-width: $xxl) {
                margin-left: -45px;
                margin-right: -45px;
                row-gap: 45px;

                & > .my-col{
                    padding-left: 45px;
                    padding-right: 45px;
                }

            }            

        
        }

        &.sm-row{
            @media screen and (min-width: $xxl) {
                margin-left: -20px;
                margin-right: -20px;
                row-gap: 40px;
                &.row-gap-half{
                    row-gap: 20px;
                }
        
                & > .my-col{
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
        }

        &.sm-row-plus{
            @media screen and (min-width: $xxl) {
                margin-left: -25px;
                margin-right: -25px;
                row-gap: 50px;
    
                & > .my-col{
                    padding-left: 25px;
                    padding-right: 25px;
                }
            }
        }
        &.tiny-row{
            margin-left: -10px;
            margin-right: -10px;
            row-gap: 20px;
    
            & > .my-col{
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
    
    
    
    
    .my-col{
        &.has-column-border{
            border-left: 1px solid var(--site-primary-color-light);
            &:first-child{
                border-left: 0px;
            }

            @media screen and (max-width: ($xl - 1px)) {
                &.type-4-column-v1{
                    &:nth-child(3){
                        border-left: 0px;
                    }
                }
            }
        }
    }
    .mb-default{
        margin-bottom: 15px;
        @media screen and (min-width: $xl) {
            margin-bottom: $grid-gutter-width / 2;
        }
    }
    .x-padding-default{
        padding-left: 15px;
        padding-right: 15px;
        @media screen and (min-width: $xl) {
            padding-left: $grid-gutter-width / 2;
            padding-right: $grid-gutter-width / 2;
        }
        
    }
    .y-padding-default{
        padding-top: 15px;
        padding-bottom: 15px;
        @media screen and (min-width: $xl) {
            padding-top: $grid-gutter-width / 2;
            padding-bottom: $grid-gutter-width / 2;
        }
    }
    .column-top-shift-type-1{
        padding-top: 85px;
    }
    .full-viewport-height{
        height: 100vh;
    }
    .full-viewport-min-height{
        min-height: 100vh;
    }
    .inset-container{
        &.type-1{

            @media screen and (min-width: $xxl) {
                padding-left: 60px;
                padding-right: 60px;

                .nested-inset-container{
                    padding-left: 88px;
                    padding-right: 88px;
                }
            }
            

            
        }

        &.type-2{
            @media screen and (min-width: $xxl) {
                max-width: 1260px / 1660px * 100%;
            }
        }

        &.type-3{
            @media screen and (min-width: $xxl) {
                max-width: 1364px / 1660px * 100%;
            }
        }
    }

    .border-radius-full-round{
        @include border-radius(100%);
    }

    .border-radius-default{
        @include border-radius(15px);
    }

    .site-bg-primary-light{
        background-color: var(--site-primary-color-light);
    }
    .site-bg-primary{
        background-color: var(--site-primary-color);
    }
    .element-gap{
        margin-bottom: 30px;
        &.element-gap-sm{
            margin-bottom: 25px;
        }
        &.element-gap-default{
            margin-bottom: 40px;
        }
        @media screen and (min-width: $xl) {
            &.element-gap-medium{
                margin-bottom: 50px;
            }
            &.element-gap-medium-plus{
                margin-bottom: 70px;
            }
            &.element-gap-lg{
                margin-bottom: 95px;
            }
            &.element-gap-lg-plus{
                margin-bottom: 110px;
            }
            &.element-gap-extreme-lg{
                margin-bottom: 170px;
            }
            &.element-gap-extra-large{
                margin-bottom: 200;
            }
        }
        
        &:last-child{
            margin-bottom: 0px !important;
        }
    }
    .section-top-bottom-pad-lg{
        padding-top: 200px;
        padding-bottom: 200px;
        @media screen and (min-width: $xl) {
            padding-top: 205px;
            padding-bottom: 275px;
        }
       
    }
    .section-top-bottom-pad-lg-type-two{
        padding-top: 205px;
        padding-bottom: 105px;
    }
    .section-top-bottom-pad-lg-type-three{
        padding-top: 230px;
        padding-bottom: 135px;
    }
    .section-top-bottom-pad-normal{
        padding-top: 140px;
        padding-bottom: 140px;
    }
    .section-top-bottom-pad-normal-type-2{
        padding-top: 90px;
        padding-bottom: 160px;
    }
    .section-top-bottom-pad-normal-type-3{
        padding-top: 80px;
        padding-bottom: 130px;
    }
    .section-top-bottom-pad-normal-type-4{
        padding-top: 60px;
        padding-bottom: 170px;
    }
    .section-bg-type-1{
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    // basic

    // site btn
    .site-btn{
        padding: 10px 20px;
        @include border-radius(42px !important);
        font-size: 14px;
        line-height: normal;
        letter-spacing: 0.9px;
        font-weight: var(--site-primary-font-bold);
        background-color: var(--site-secondary-color);
        color: var(--site-primary-color-dark);
        border: none;
        @include transition(all 0.3s ease 0s);
        display: inline-block;

        @media screen and (min-width: $xl) {
            font-size: 18px;
            padding: 19px 30px;
        }

        &.min-width-type-1{
            min-width: 135px;
            text-align: center;
        }

        &.sm-btn{
            padding: 11px 30px;
        }

        &.outline-btn{
            background-color: transparent;
            border: 2px solid var(--site-secondary-color);
            &:hover, &.active{
                background-color: var(--site-secondary-color);
                color: var(--site-primary-color-dark);
            }
        }

        &.iconic-btn{
            i{
                display: inline-block;
                margin-right: 12px;
            }

            span{
                display: inline-block;
                vertical-align: middle;
            }
        }

        &.tiny-btn{
            @include border-radius(82px !important);
        }

        &:hover, &.active{
            background-color: var(--site-primary-color-dark);
            color: var(--site-default-gray);
        }
    }
    // site btn

    // typography
    .text-up-case{
        text-transform: uppercase;
    }
    .site-text-gray{
        color: var(--site-default-gray);

        p{
            &.subline{
                color: var(--site-default-gray);
            }
        }

        h2, h3, h4, h5, h6{
            color: var(--site-default-gray);
        }
    }
    .text-color-default{
        color: var(--site-primary-text-color);
    }
    .text-color-primary-dark{
        color: var(--site-primary-color-dark);
    }
    h1, h2, h3, h4, h5, h6{
        font-weight: var(--site-primary-font-bold);
    }
    h2, h3, h4, h5, h6{
        color: var(--site-primary-color-dark);
    }
    h1{
        font-size: 40px;
        line-height: normal;

        @media screen and (min-width: $xl) {
            font-size: 70px;
            line-height: 84px;
        }
        
    }
    h2{

        font-size: 35px;
        line-height: normal;

        @media screen and (min-width: $xl) {
            font-size: 55px;
            line-height: 66px;
        }
        
    }
    h3{

        font-size: 30px;
        line-height: normal;

        @media screen and (min-width: $xl) {
            font-size: 50px;
            line-height: 60px;
        }
        
    }
    h4{
        font-size: 25px;
        line-height: normal;
        @media screen and (min-width: $xl) {
            font-size: 40px;
            line-height: 50px;
        }    
       
    }
    h5{
        font-size: 20px;
        line-height: normal;
        // letter-spacing: 0.6px;
        @media screen and (min-width: $xl) {
            font-size: 32px;
            line-height: 45px;
        }
        
        
    }
    h6, .site-accordion .accordion-button{
        font-size: 16px;
        line-height: normal;
        @media screen and (min-width: $xl) {
            font-size: 24px;
            line-height: 32px;
        }
        
    }
    
    p{
        font-size: 14px;
        line-height: 25px;
        letter-spacing: 0.36px;
        margin-bottom: 15px;
        @media screen and (min-width: $xl) {
            font-size: 18px;
            line-height: 35px;
            margin-bottom: 20px;
        }

        & + p .site-btn{
            margin-top: 20px;
        }

        &.subline{
            font-size: 35px;
            line-height: 45px;
            letter-spacing: 0.7px;
        }

        &.subline-var-2{
            font-size: 22px;
            line-height: 32px;
            letter-spacing: 4.4px;
            font-family: var(--site-primary-font-Semi-bold);
        }

        &.subline-var-3{
            font-size: 25px;
            line-height: 40px;
            letter-spacing: 0.5px;
            font-family: var(--site-primary-font-medium);
        }
        
    }
    .basic-entry{
        li{
            font-size: 14px;
            line-height: 25px;
            letter-spacing: 0.36px;
            margin-bottom: 15px;
            @media screen and (min-width: $xl) {
                font-size: 18px;
                line-height: 35px;
                margin-bottom: 20px;
            }
        }
    }
    // typography

    // page-banner-module
    .has-page-banner-viewport-height-type-1{
        & + section{
            margin-top: -70px;
        }
    }
    .has-page-banner-viewport-height-type-2{
        & + section{
            margin-top: -130px;

            @media screen and (max-height: 999px) and (min-width: $xl) {
                padding-top: 350px;
            }
        }
    }
    .has-page-banner-viewport-height-type-4{
        & + section{
            margin-top: -165px;
        }
    }
    .page-banner-module{
        position: relative;


        .banner-slider{
            .slick-dots{
                list-style: none;
                margin: 0px;
                padding: 0px;
                position: absolute;
                right: 50px;
                display: flex;
                column-gap: 15px;
                z-index: 1;
                margin-top: 40px;

                li{
                    margin: 0px;
                    padding: 0px;

                    &.slick-active{
                        button{
                            background-color: var(--site-primary-color-dark);
                        }
                    }

                    button{
                        width: 30px;
                        height: 3px;
                        border: none;
                        background-color: var(--site-primary-color-light);
                        font-size: 0px;
                        display: inline-block;
                        vertical-align: top;
                    }

                    &::marker{
                        display: none;
                    }
                }
            }
        }

        .slider-context{
            height: 100%;
            display: grid;
            align-items: center;

            .normal-text-element-module{
                padding: 40px 0;
            }
        }
        .banner-content-part{
            .page-banner-single-search-form{

                @media screen and (min-width: $xl) {
                    max-width: 1132px / 1540px * 100%;
                }
                

                &.width-type-2{
                    max-width: 100%;
                }
            }
            &.pos-type-1{
                position: absolute;
                width: 100%;
                left: 0px;
                bottom: 0px;

                @media screen and (max-height: 999px) and (min-width: $xl) {
                    bottom: -150px;
                }
            }
        }
        .main-banner-part{

            &.has-view-height{
                .banner-slider{
                    height: 100%;

                    .slick-list, .slick-track, .slick-slide, .slick-slide > div{
                        
                            height: 100%;
                        
                        
                    }

                    .sliding-part{
                        height: 100%;
                        &.set-back{
                            background-size: cover;
                            background-position: center top;
                            background-repeat: no-repeat;

                            &.pos-type-2{
                                background-size: auto;
                                background-position: right bottom;
                            }

                            &.pos-type-3{
                                background-size: auto;
                                background-position: right 43px bottom;
                            }
                        }
                    }
                }
            }

            &.viewport-height-type-1{
                height: calc(100vh - 70px);
            }
            &.viewport-height-type-2{
                height: calc(100vh - 130px);
                @media screen and (max-height: 999px) and (min-width: $xl) {
                    height: 100vh;
                }
            }
            &.viewport-height-type-3{

                height: 100vh;
            }
            &.viewport-height-type-4{
                height: calc(100vh - 165px);
            }
        }

        
    }
    // page-banner-module

    // page-banner-single-search-form
    .page-banner-single-search-form{
       
        .module-card{
            padding: 62px 45px;
        }

        .main-search-form{
            background-color: white;
            @include border-radius(82px);
            padding: 22px 35px 22px 45px;
            display: flex;
            align-items: center;

            @media screen and (max-width: ($xl - 1px)){
                flex-wrap: wrap;
            }

            .field-holder{
                width: 100%;
                @media screen and (min-width: $xl) {
                    width: 80%;
                }
                
            }

            .button-holder{
                margin-top: 15px;
                @media screen and (min-width: $xl) {
                    margin-left: auto;
                    margin-top: 0px;
                }    
            }

            label{
                font-size: 18px;
                line-height: normal;
                font-weight: var(--site-primary-font-bold);
                letter-spacing: 0.36px;
                display: block;
                margin-bottom: 5px;
            }

            .text-input{
                font-size: 18px;
                line-height: normal;
                letter-spacing: 0.36px;
                display: block;
                border: none;
                background-color: transparent;
                width: 100%;
                &::placeholder{
                    opacity: 1;
                    color: var(--site-primary-text-color);
                }
            }

        }
    }
    // page-banner-single-search-form

    // custom-serial-listing-module
    .custom-serial-listing-module{
        ul{
            list-style: none;
            margin: 0px;
            padding: 0px;

            li{
                margin: 0 0 30px 0;
                padding: 0 0 0 70px; 
                position: relative;
                min-height: 50px;

                @media screen and (min-width: $xl){
                    min-height: 80px;
                    margin-bottom: 70px;
                    padding-left: 120px;
                }

                &:last-child{
                    margin-bottom: 0px;
                }

                span{
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    text-align: center;
                    line-height: 50px;
                    color: var(--site-primary-color-light);
                    background-color: var(--site-primary-color-dark);
                    @include border-radius(100%);
                    left: 0px;
                    top: 0px;
                    font-size: 30px;
                    font-weight: var(--site-primary-font-bold);

                    @media screen and (min-width: $xl){
                        width: 80px;
                        height: 80px;
                        line-height: 80px;
                        font-size: 50px; 
                    }
                }
            }
        }
    }
    // custom-serial-listing-module

    // iconic-interactive-content-module
    .iconic-interactive-content-module{
        & > .main-wrap{
            display: flex;
            column-gap: 120px;
            background-image: url(../Images/iconic-content-curve.svg);
            background-repeat: no-repeat;
            background-position: center center;
            justify-content: center;

            @media screen and (max-width: ($xl - 1px)) {
               flex-direction: column;
               row-gap: 70px;
               background-image: url(../Images/iconic-content-curve-portrait.svg);

               & > .item{
                margin-left: auto;
                margin-right: auto;
               }
            }

            @media screen and (min-width: $xxl) {
                width: 1218px;
                column-gap: 140px;
            }

            .item{
                width: 200px;
                height: 200px;
                background-color: var(--site-primary-color);
                @include border-radius(100%);
                color: var(--site-default-gray);
                text-align: center;

                .icon{
                    margin-bottom: 10px;
                    height: 86px;
                    display: grid;
                    align-items: center;
                    img{
                        margin: 0 auto;
                        max-height: 86px;
                        width: auto;
                        max-width: 100%;
                        height: auto;
                    }

                    &:last-child{
                        margin-bottom: 0px;
                    }
                }

                .icon-text{
                    color: var(--site-default-gray);
                    font-size: 18px;
                    line-height: normal;
                    letter-spacing: 0.36px;
                    font-weight: var(--site-primary-font-bold);
                }
            }
        }
    }
    // iconic-interactive-content-module

    // chatboat
    .site-chat-bot{
        width: 100.58px;
        height: 89.81px;
        background-image: url(../Images/chatbot.svg);
        background-repeat: no-repeat;
        background-position: left top;
        background-size: 100.58px;
        position: fixed;
        z-index: 10;
        cursor: pointer;
        right: 30px;
        bottom: 50px;
        display: flex;
        align-items: center;

        @media screen and (min-width: $xl){
            right: 110px;
        }

        span{
            display: inline-block;
            padding-left: 17px;
            padding-right: 23px;
            line-height: normal;
            font-size: 18px;
            letter-spacing: 0.9px;
            color: var(--site-primary-color-dark);
            font-weight: var(--site-primary-font-bold);
            background-image: url(../Images/chatboat-dots.svg);
            background-repeat: no-repeat;
            background-position: right bottom 3px;
        }
    }
    // chatboat

    // advance-search-form
    .advance-search-form{
        & > .main-wrap{
            display: flex;
            column-gap: 30px;
            row-gap: 30px;
            align-items: center;
        }

        label{
            font-size: 18px;
            letter-spacing: 0.36px;
            font-weight: var(--site-primary-font-medium);
            padding-left: 20px;
            margin-bottom: 5px;
        }

        .field-holder{
            width: 206px;
            height: 48px;
            @include border-radius(50px);
            background-color: white;
            position: relative;
            background-image: url(../Images/primary-dark-down-arrow.svg);
            background-repeat: no-repeat;
            background-position: right 16px center;
            background-size: 21.46px;

            &.width-type-2{
                width: auto;
                min-width: 295px;
            }

            .select-menu{
                width: 100%;
                height: 100%;
                background-color: transparent;
                border: none;
                font-size: 16px;
                letter-spacing: 0.9px;
                font-weight: var(--site-primary-font-bold);
                color: var(--site-primary-color-dark);
                padding: 0 45px 0 24px;
                cursor: pointer;

                @media screen and (min-width: $xl) {
                    font-size: 18px;
                }
            }
        }

        .activity-holder{
            display: flex;
            align-items: center;
            column-gap: 27px;
            row-gap: 27px;
            .activity-sorting{
                width: 59px;
                height: 59px;
                @include border-radius(100%);
                background-color: var(--site-primary-color);
                background-image: url(../Images/filter-icon-white.svg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 22.5px;
                cursor: pointer;
                position: relative;

                span{
                    width: 27px;
                    width: 27px;
                    @include border-radius(100%);
                    background-color: var(--site-secondary-color);
                    text-align: center;
                    line-height: 27px;
                    z-index: 1;
                    pointer-events: none;
                    font-size: 16px;
                    font-weight: var(--site-primary-font-bold);
                    color: var(--site-primary-color-dark);
                    position: absolute;
                    right: 0px;
                    top: -10px;
                }
            }
        }

        

        
    }
    // advance-search-form

    // listing module
    .product-listing-module{
        .more-item-load{
            margin-top: 65px;
        }
        .listinig-view-activity{
            display: flex;
            column-gap: 15px;
            row-gap: 15px;
        }

        .product-listing-card{
            padding: 30px;
            @include border-radius(10px);
            background-color: white;
        }

        .listing-product-image{
            @include border-radius(5px);
            overflow: hidden;
            height: 100%;
            &.set-back{
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center top;
                & > img{
                    display: block;
                    visibility: hidden;
                }
            }
            img{
                width: 100%;
                height: auto;
            }
        }

        .listing-product-information{
            position: relative;
            padding-bottom: 70px;
            height: 100%;
            .listing-footer-info{
                position: absolute;
                width: 100%;
                left: 0px;
                bottom: 0px;
            }
            .listing-header-info{
                padding-bottom: 20px;
                margin-bottom: 40px;
                border-bottom: 1px solid var(--site-primary-color-light);
                &:last-child{
                    margin-bottom: 0px;
                }

               
            }
        }
    }
    .listing-tags{
        display: flex;
        align-items: center;
        column-gap: 23px;
        row-gap: 23px;
        flex-wrap: wrap;

        &.color-view-2{
            span{
                background-color: var(--site-secondary-color);
                color: var(--site-primary-text-color);
            }
        }

        &.type-sm{
            span{
                letter-spacing: 0.9px;
                padding: 7px 23px;
            }
        }

        &.type-no-flex{
            display: inherit
        }

        span{
            @include border-radius(82px);
            background-color: var(--site-primary-color-light);
            font-size: 16px;
            line-height: normal;
            letter-spacing: 0.36px;
            color: var(--site-primary-color-dark);
            text-align: center;
            padding: 10px 20px;
            min-width: 104px;

            @media screen and (min-width: $xl) {
                font-size: 18px;
            }
        }
    }
    // listing module

    // bredcrumb-module
    .bredcrumb-module{
        ul{
            list-style: none;
            margin: 0px;
            padding: 0px;
            display: flex;
            column-gap: 12px;

            li{
                margin: 0px;
                padding: 0 12px 0 0;
                font-size: 15px;
                color: var(--site-primary-color-dark);
                letter-spacing: 0.3px;
                position: relative;
                &:not(.current){
                    opacity: 0.5;
                }

                a{
                    color: var(--site-primary-color-dark);
                }

                &:after{
                    content: '|';
                    position: absolute;
                    right: -2px;
                }

                &:last-child{
                    padding-right: 0px;
                    &:after{
                        display: none;
                    }
                }
            }
        }
    }
    // bredcrumb-module

    // product-detail-slider
    .product-detail-slider{
        .download-expose{
            margin-left: auto;

            a{
                padding-left: 53px;
                background-image: url(../Images/download-expose-icon.svg);
                display: inline-block;
                background-repeat: no-repeat;
                background-position: left center;
                font-size: 18px;
                font-weight: var(--site-primary-font-bold);
                line-height: 40px;
                letter-spacing: 0.9px;
            }
           

        }
        .slider-element{
            img{
                width: 100%;
                height: auto;
                @include border-radius(5px);
            }
        }

        .custom-pagi{
            display: flex;
            column-gap: 35px;
            align-items: center;
            margin-top: 22px;
            row-gap: 70px;

            @media screen and (max-width: ($xl - 1px)) {
                flex-wrap: wrap;
                row-gap: 40px;

                .download-expose{
                    width: 100%;
                }
            }
        }

        .pagingInfo{
            font-size: 24px;
            line-height: normal;
            font-weight: var(--site-primary-font-bold);
            color: var(--site-primary-color-dark);
        }

        .slick-arrow{
            width: 34px;
            height: 21.43px;
            background-size: 34px;
            background-repeat: no-repeat;
            background-position: left top;
            background-color: transparent;
            border: none;
            padding: 0px;
            margin: 0px;
            font-size: 0px;

            &.slick-disabled{
                pointer-events: none;
                opacity: 0.41;
            }

            &.slick-prev{
                background-image: url(../Images/prev-arrow-primary-dark.svg);
            }
            &.slick-next{
                background-image: url(../Images/next-arrow-primary-dark.svg);
            }
        }
    }
    // product-detail-slider

    // product-detail-data-info

    .product-detail-data-info{
        & > .main-wrap{
            max-width: 91%;
        }
        .object-id{
            letter-spacing: 0.9px;
        }
        .product-detal-labeled-info{
            @include border-radius(15px);
            background-color: var(--site-primary-color-light);
            padding: 10px 0;

            @media screen and (min-width: $xl) {
                padding: 16px 0;
            }

            & > .main-wrap{
                display: flex;

                div{
                    border-left: 1px solid #707070;
                    font-size: 18px;
                    letter-spacing: 0.5px;
                    color: var(--site-primary-color-dark);
                    font-weight: var(--site-primary-font-bold);
                    padding: 10px;
                    text-align: center;
                    flex-grow: 1;

                    @media screen and (min-width: $xl) {
                        padding: 15px;
                        font-size: 25px;
                    }

                    &:first-child{
                        border-left: 0px;
                    }
                }
            }
        }
    }
    
    // product-detail-data-info

    // data-table
    .data-table{
        width: 100%;

        td{
            border-bottom: 1px solid var(--site-primary-color-light);
            font-size: 14px;
            letter-spacing: 0.36;
            padding: 20px;
            line-height: normal;
            color: var(--site-primary-color-dark);
            vertical-align: top;

            @media screen and (min-width: $xl) {
                font-size: 18px;
            }

            &:first-child{
                padding-left: 0px;
            }
            &:last-child{
                padding-right: 0px;
            }
            &.opech-text{
                opacity: 0.55;
            }
        }
    }
    // data-table

    // default card content
    .deafult-card-content{
        padding: 30px;
        background-color: white;
        @include border-radius(10px);

        @media screen and (min-width: $xl) {
            padding: 50px 50px 80px 50px;
        }

        &.pad-type-2{
            padding: 80px 0 60px 0;
        }

        .default-card-header{
            border-bottom: 1px solid var(--site-primary-color-light);
            padding-bottom: 30px;
            margin-bottom: 30px;
        }

        .default-card-table{
            table{
                border: 0px;
                width: 100%;
            }

            tr{
                &:last-child{
                    td{
                        padding-bottom: 0px;
                    }
                }
            }

            td{
                padding: 0 32px 35px 32px;

                &:last-child{
                    padding-right: 0px;
                }
                &:first-child{
                    padding-left: 0px;
                    min-width: 250px;
                }
            }
        }
    }
    // default card content

    // link-type-listing-module
    .link-type-listing-module{
        &.type-2{
            h1, h2, h3, h4, h5,h6{
                display: block;
                position: relative;
                padding-right: 15px;
                margin-bottom: 18px;

                &:after{
                    position: absolute;
                    right: 0px;
                    top: 7px;
                }
            }
        }
        ul{
            margin: 0px;
            padding: 0px;
            list-style: none;

            li{
                margin: 60px 0 0 0;
                padding: 0px;

                &:first-child{
                    margin-top: 0px;
                }
                
                h1, h2, h3, h4, h5,h6{
                    position: relative;
                    display: inline-block;

                    &:after{
                        content: ' ';
                        width: 11px;
                        height: 22px;
                        background-size: 11px;
                        background-image: url(../Images/right-direction-arrow-site-primary-color-light.svg);
                        background-repeat: no-repeat;
                        background-position: left top;
                        pointer-events: none;
                        display: inline-block;
                        margin-left: 10px;
                        vertical-align: middle;
                    }
                }

                
            }
        }
    }
    // link-type-listing-module

    // iconic-content-masonry-isotpe-module
    .iconic-content-masonry-isotpe-module{
        .isotope-item{
            margin-top: 40px;

            @media screen and (min-width: $xl) {
                margin-top: 120px;
            }

            &:first-child{
                margin-top: 0px;
            }
        }
        .the-icon{
            width: 128px;
            height: 128px;
            text-align: center;
            @include border-radius(100%);
            background-color: var(--site-primary-color);
            display: grid;
            align-items: center; 

            img{
                margin: 0 auto;
                display: inline-block;
            }
        }
    }
    // iconic-content-masonry-isotpe-module

    // image-content-masonry-isotpe-module
    .image-content-masonry-isotpe-module{
        img{
            @include border-radius(5px);
        }

        .my-col{
            margin-top: 20px;

            &:first-child{
                margin-top: 0px;
            }
            &:nth-child(2){
                @media screen and (min-width: $md) {
                    margin-top: 120px;
                }
                
            }
        }
    }
    // image-content-masonry-isotpe-module

    // news-detail-banner-header-module
    .news-detail-banner-header-module{
        position: relative;

        

        &.width-type-1{
            max-width: 950px / 1260px * 100%;
        }

        .module-card{
            padding: 20px 45px 45px 45px;
            background-color: var(--site-primary-color);
            color: white;
            @include border-radius(10px);
        }

        .module-card-header{
            padding: 0 30px 15px 30px;
            border-bottom: 1px solid var(--site-primary-color-light);
            margin-bottom: 35px;
            &.multi-item-flex{
                display: flex;
                align-items: center;
                column-gap: 30px;
                row-gap: 30px;
            }
        }
    }
    // news-detail-banner-header-module

    // back module
    .back-module{
        position: absolute;
        left: $grid-gutter-width / 2;
        
        &.pos-type-1{
            top: 130px;
        }

        a{
            display: inline-block;
            width: 52.8px;
            height: 33.29px;
            background-image: url(../Images/left-direction-arrow-gray.svg);
            background-position: left top;
            background-repeat: no-repeat;
            background-size: 52.8px;
        }
    }
    // back module

    // site-accordion
    .site-accordion{
        .accordion-body{
            padding: 0 0 70px 0;
        }
        & *{
            @include box-shadow(none);
        }
        .accordion-item{
            border: none;
            @include border-radius(0px);
            background-color: transparent;
            border-bottom: 1px solid var(--site-primary-color-dark);

            &:first-child{
                .accordion-button{
                    padding-top: 0px;
                }
            }
        }
        .accordion-button{
            background-color: transparent;
            padding: 31px 0 31px 0;
            border: none;
            border-radius: 0px;
            line-height: normal;
            font-weight: var(--site-primary-font-bold);
            color: var(--site-primary-color-dark);

            &:after{
                width: 25px;
                height: 25px;
                background-size: 25px;
                background-repeat: no-repeat;
                background-position: left top;
                background-image: url(../Images/plus-icon-site-primary-dark.svg);
            }

            &:not(.collapsed){
                &::after{
                    transform: rotate(-45deg);
                }
            }
        }
    }
    // site-accordion

    // filter-slider-module
    .filter-slider-module{
        margin-top: -30vh;

        .slick-dots{
            list-style: none;
            margin: 0px;
            padding: 0px;
            position: absolute;
            left: 0px;
            display: flex;
            column-gap: 15px;
            z-index: 1;
            margin-top: 40px;
            text-align: center;
            width: 100%;
            justify-content: center;
            flex-wrap: wrap;

            li{
                margin: 0px;
                padding: 0px;

                &.slick-active{
                    button{
                        background-color: var(--site-primary-color-dark);
                    }
                }

                button{
                    width: 30px;
                    height: 3px;
                    border: none;
                    background-color: var(--site-primary-color-light);
                    font-size: 0px;
                    display: inline-block;
                    vertical-align: top;
                }

                &::marker{
                    display: none;
                }
            }
        }

        .slick-arrow{
            border: none;
            background-color: transparent;
            font-size: 0px;
            width: 52.8px;
            height: 33.9px;
            background-repeat: no-repeat;
            background-size: 52.8px;
            background-position: left top;
            position: absolute;
            bottom: 0px;

            @media screen and (min-width: $xl) {
                top: 50%;
                margin-top: -16px;
            }

            &.slick-disabled{
                pointer-events: none;
                opacity: 0.41;
            }

            &.slick-prev{
                background-image: url(../Images/prev-arrow-primary-dark.svg);
                left: 0px;
            }
            &.slick-next{
                background-image: url(../Images/next-arrow-primary-dark.svg);
                right: 0px;
            }
        }

        .slider{
            list-style: none;
            margin: 0px;
            padding: 0 0 80px 0;

            @media screen and (min-width: $xl) {
                padding: 0 83px;
            }

            li{
                margin: 0px;
                padding: 0px;
            }
        }

       .slick-list{
        margin-left: -20px;
        margin-right: -20px;
        .slick-slide{
            padding-left: 20px;
            padding-right: 20px;
        }
       }

        .filter-footer{
            padding: 10px 15px;
            border-top: 1px solid var(--site-primary-color-light);
            display: flex;
            align-items: center;

            &:last-child{
                padding-bottom: 0px;
            }
        }

        .filter-bild{
            img{
                width: 100%;
                height: auto;
                @include border-radius(5px);
            }
        }

        .filter-main-body{
            padding: 30px 15px;
            p{
                line-height: 30px;
            }
            
        }

        .filter-item-card{
            @include border-radius(10px);
            background-color: white;
            padding: 14px;
        }


        .filter{
            list-style: none;
            margin: 0 0 45px 0;
            padding: 0px;
            display: flex;
            column-gap: 20px;
            row-gap: 20px;
            flex-wrap: wrap;

            @media screen and (min-width: $xl) {
                padding: 0 83px;
            }

            @media screen and (min-width: $xxl) {
                column-gap: 30px;
                row-gap: 30px;
            }

            li{
                cursor: pointer;
                margin: 0px;
                padding: 13px 20px;
                border: 1px solid var(--site-default-gray);
                color: var(--site-default-gray);
                font-size: 18px;
                letter-spacing: 0.9px;
                line-height: normal;
                @include border-radius(82px);
                text-align: center;
                min-width: 185px;
                @include transition(all 0.3s ease 0s);
                &:hover, &.active{
                    background-color: var(--site-secondary-color);
                    border-color: var(--site-secondary-color);
                    color: var(--site-primary-color-dark);
                }
            }
        }
    }
    // filter-slider-module

    // bordered-listing-column-module
    .bordered-listing-column-module{
        &.view-2{

            @media screen and (min-width: $xl) {
                .my-col{
                    &:not(.responsive-col-auto-till-xl){
                        width: inherit;
                        flex: 1 0 0%;
                    }
                    
                    &.responsive-col-auto-till-xl{
                        flex: 0 0 auto;
                        width: auto;
                    }
                }
            }
            
        }
    }
    // bordered-listing-column-module

}