@font-face {
    font-family: 'Urbanist';
    src: url('../Fonts/Urbanist-Bold.eot');
    src: url('../Fonts/Urbanist-Bold.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Urbanist-Bold.woff2') format('woff2'),
        url('../Fonts/Urbanist-Bold.woff') format('woff'),
        url('../Fonts/Urbanist-Bold.svg#Urbanist-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../Fonts/Urbanist-Medium.eot');
    src: url('../Fonts/Urbanist-Medium.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Urbanist-Medium.woff2') format('woff2'),
        url('../Fonts/Urbanist-Medium.woff') format('woff'),
        url('../Fonts/Urbanist-Medium.svg#Urbanist-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../Fonts/Urbanist-Regular.eot');
    src: url('../Fonts/Urbanist-Regular.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Urbanist-Regular.woff2') format('woff2'),
        url('../Fonts/Urbanist-Regular.woff') format('woff'),
        url('../Fonts/Urbanist-Regular.svg#Urbanist-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../Fonts/Urbanist-ExtraBold.eot');
    src: url('../Fonts/Urbanist-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Urbanist-ExtraBold.woff2') format('woff2'),
        url('../Fonts/Urbanist-ExtraBold.woff') format('woff'),
        url('../Fonts/Urbanist-ExtraBold.svg#Urbanist-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../Fonts/Urbanist-Thin.eot');
    src: url('../Fonts/Urbanist-Thin.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Urbanist-Thin.woff2') format('woff2'),
        url('../Fonts/Urbanist-Thin.woff') format('woff'),
        url('../Fonts/Urbanist-Thin.svg#Urbanist-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../Fonts/Urbanist-ExtraLight.eot');
    src: url('../Fonts/Urbanist-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Urbanist-ExtraLight.woff2') format('woff2'),
        url('../Fonts/Urbanist-ExtraLight.woff') format('woff'),
        url('../Fonts/Urbanist-ExtraLight.svg#Urbanist-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../Fonts/Urbanist-SemiBold.eot');
    src: url('../Fonts/Urbanist-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Urbanist-SemiBold.woff2') format('woff2'),
        url('../Fonts/Urbanist-SemiBold.woff') format('woff'),
        url('../Fonts/Urbanist-SemiBold.svg#Urbanist-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../Fonts/Urbanist-Light.eot');
    src: url('../Fonts/Urbanist-Light.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Urbanist-Light.woff2') format('woff2'),
        url('../Fonts/Urbanist-Light.woff') format('woff'),
        url('../Fonts/Urbanist-Light.svg#Urbanist-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../Fonts/Urbanist-Black.eot');
    src: url('../Fonts/Urbanist-Black.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Urbanist-Black.woff2') format('woff2'),
        url('../Fonts/Urbanist-Black.woff') format('woff'),
        url('../Fonts/Urbanist-Black.svg#Urbanist-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Shadows Into';
    src: url('../Fonts/ShadowsIntoLight.woff2') format('woff2'),
        url('../Fonts/ShadowsIntoLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


