.region-kassel-land{

    header.header{
        position: absolute;
        width: 100%;
        left: 0px;
        top: 0px;
        z-index: 50;
        height: 116px;

        .mobile-nav{
            .dropdown-menu.show{
                transform: none !important;
                inset: auto !important;
                right: 0px !important;
            }
            li{
            
                &.inactive{
                    & > a{
                        opacity: 0.5;
                    }
                }
            }
        }

        .mobile-nav{
            .mobile-hmbg{
                color: var(--site-primary-color-dark);
                &::after{
                    display: none;
                }
            }
        }

        .site-logo{
            
            background-color: white;
            @include border-radius(0 0 10px 10px);
            text-align: center;
            display: grid;
            align-items: center;
            padding: 15px;

            & > img{
                max-width: 100px;
            }

            @media screen and (min-width: $xl) {
                width: 211px;
                height: 114px;
                @include border-radius(0 0 20px 20px);
                padding: 0px;

                & > img{
                    max-width: inherit;
                }
            }

            img{
                margin: 0 auto;
                display: inline-block;
            }
        }

        .header-nav{
           
            .main-nav{
                height: 74px;
                @include border-radius(37px);
                background-color: white;
                display: grid;
                align-items: center;
                padding: 0 57px;

                ul{
                    list-style: none;
                    margin: 0px;
                    padding: 0px;
                    display: flex;
                    column-gap: 50px;

                    li{
                        margin: 0px;
                        padding: 0px;
                        font-size: 18px;
                        letter-spacing: 0.9px;
                        color: var(--site-primary-color-dark);
                        font-weight: var(--site-primary-font-bold);
                        @include transition(all 0.3s ease 0s);
                        &.inactive{
                            opacity: 0.45;

                            &:hover{
                                opacity: 1;
                            }
                        }

                        a{
                            color: var(--site-primary-color-dark);
                        }
                    }
                }
            }
        }
    }
    
}