// from xxl to rest
@media screen and (max-width: ($xxl - 1px)){
    .back-module{
        &.pos-type-1{
            & + .inset-container{
                padding-left: 70px;
            }
        }
    }
    .container, .container-fluid{
        max-width: 100% !important;
        padding-left: 15px;
        padding-right: 15px;
    }

    .row{
        &.my-row{
            &.default-row:not(.tiny-row){
                margin-left: -15px;
                margin-right: -15px;
                row-gap: 30px;

                & > .my-col{
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }
    }
}