// from xxl to rest
@media screen and (max-width: ($xxl - 1px)){
    .region-kassel-land {   

      
        .back-module{
            &.pos-type-1{
                & + .inset-container{
                    padding-left: 70px;
                }
            }
        }
        .container, .container-fluid{
            max-width: 100% !important;
            padding-left: 30px;
            padding-right: 30px;
        }

        .row{
            &.my-row{
                &.default-row:not(.tiny-row){
                    margin-left: -15px;
                    margin-right: -15px;
                    row-gap: 40px;

                    & > .my-col{
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                }
            }
        }
    }
}


// from xl to rest
@media screen and (max-width: ($xl - 1px)){
    .region-kassel-land {

        .back-module{
            &.pos-type-1{
                & + .inset-container{
                    padding-left: 0px;
                }
            }
        }
        
        .section-row{
            &.responsive-section-row-default{
                padding-top: 80px;
                padding-bottom: 80px;
               }
        }
      

        // page-banner-with-search-form-responsive-normalize
       
        .page-banner-with-search-form-responsive-normalize{
            .slick-list, .slick-track, .slick-slide, .slick-slide > div{
                        
                height: auto !important;
            }

            & + section{
                margin-top: inherit;
            }

            .advance-search-form{
                & > .main-wrap{
                    flex-wrap: wrap;
                }

                .field-holder{
                    width: 100%;
                }
            }


            .page-banner-single-search-form{
                .module-card{
                    @include border-radius(0px);
                    padding: 30px;
                }
            }
            .page-banner-module{
                height: auto;
                

                .banner-content-part{
                    & > .container{
                        padding-left: 0px;
                        padding-right: 0px;
                    }
                    &.pos-type-1{
                        position: static;
                    }
                }

                .slider-context{
                    height: auto;

                    .normal-text-element-module{
                        padding: 200px 0 150px 0;
                    }
                }

                .main-banner-part{
                    &.viewport-height-type-2{
                        height: auto;
                    }
                    &.has-view-height{
                        .banner-slider{
                            height: auto;
                        }
                    }
                }
            }
        }
        // page-banner-with-search-form-responsive-normalize

        // sponsor-detail-module
        .sponsor-detail-module{
            .my-col{
                border: none;
            }
        }
        // sponsor-detail-module
    }

}